<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="dashboard-index">
<head>
    <title>Area FiftyLAN - Overview</title>
</head>
<body>
    <section layout:fragment="content">
        <div class="row">
            <div class="col-sm-3 col-xs-6">
                <div class="tile-stats tile-red">
                    <div class="icon"><i class="entypo-users"></i></div>
                    <div class="num" data-start="0" th:attr="data-end=${usercount}" data-postfix="" data-duration="1000"
                         data-delay="0">0
                    </div>

                    <h3>Registered users</h3>
                    <p>so far in our blog, and our website.</p>
                </div>
            </div>

            <div class="col-sm-3 col-xs-6">
                <div class="tile-stats tile-green">
                    <div class="icon"><i class="entypo-chart-bar"></i></div>
                    <div class="num" data-start="0" th:attr="data-end=${ordercount}" data-postfix=""
                         data-duration="1000"
                         data-delay="600">0
                    </div>

                    <h3>Orders</h3>
                    <p>placed so far</p>
                </div>
            </div>

            <div class="clear visible-xs"></div>

            <div class="col-sm-3 col-xs-6">
                <div class="tile-stats tile-aqua">
                    <div class="icon"><i class="entypo-mail"></i></div>
                    <div class="num" data-start="0" th:attr="data-end=${teamcount}" data-postfix="" data-duration="1000"
                         data-delay="1200">0
                    </div>

                    <h3>Teams</h3>
                    <p>created so far</p>
                </div>
            </div>

            <div class="col-sm-3 col-xs-6">
                <div class="tile-stats tile-blue">
                    <div class="icon"><i class="entypo-rss"></i></div>
                    <div class="num" data-start="0" data-end="52" data-postfix="" data-duration="1000"
                         data-delay="1800">0
                    </div>

                    <h3>Seats</h3>
                    <p>reserved right now.</p>
                </div>
            </div>
        </div>

        <script src="assets/js/jquery.sparkline.min.js"></script>
        <script src="assets/js/rickshaw/vendor/d3.v3.js"></script>
        <script src="assets/js/rickshaw/rickshaw.min.js"></script>
        <script src="assets/js/raphael-min.js"></script>
        <script src="assets/js/morris.min.js"></script>
        <script src="assets/js/toastr.js"></script>

    </section>
</body>
</html>