<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="dashboard-index">
<head>
    <title>Area FiftyLAN - Overview</title>
</head>
<body>
    <section layout:fragment="content">
        <div>
            <h2>Users</h2>

            <br />

            <script type="text/javascript">
                jQuery(document).ready(function ($) {
                    var $usertable = jQuery('#usertable');

                    // Initialize DataTable
                    var usertable = $usertable.DataTable({
                        "bStateSave": true
                    });

                    // Initalize Select Dropdown after DataTables is created
                    $usertable.closest('.dataTables_wrapper').find('select').select2({
                        minimumResultsForSearch: -1
                    });

                    // Setup - add a text input to each footer cell
                    $('#usertable tfoot th').each(function () {
                        var title = $('#usertable thead th').eq($(this).index()).text();
                        $(this).html('<input type="text" class="form-control" placeholder="Search ' + title + '" />');
                    });

                    // Apply the search
                    usertable.columns().every(function () {
                        var that = this;
                        $('input', this.footer()).on('keyup change', function () {
                            if (that.search() !== this.value) {
                                that.search(this.value).draw();
                            }
                        });
                    });
                });
            </script>

            <table class="table table-bordered datatable" id="usertable">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Displayname</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Gender</th>
                        <th>Adress</th>
                        <th>Phone</th>
                        <th>Notes</th>
                        <th class="actions">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="user : ${users}" class="">
                        <td th:text="${user.id}">User ID</td>
                        <td th:text="${user.username}">Username</td>
                        <td th:text="${user.email}">Email</td>
                        <td th:text="${user.profile.displayName}">Display Name</td>
                        <td th:text="${user.profile.firstName}">First Name</td>
                        <td th:text="${user.profile.lastName}">Last Name</td>
                        <td th:text="${user.profile.gender}">Gender</td>
                        <td th:text="${user.profile.address}">Address</td>
                        <td th:text="${user.profile.phoneNumber}">Phone</td>
                        <td th:text="${user.profile.notes}">Notes</td>
                        <td>
                            <a href="#" class="btn btn-default btn-sm btn-icon icon-left">
                                <i class="entypo-pencil"></i>
                                Edit
                            </a>
                            <a href="#" class="btn btn-danger btn-sm btn-icon icon-left">
                                <i class="entypo-cancel"></i>
                                Delete
                            </a>
                            <a href="#" class="btn btn-info btn-sm btn-icon icon-left">
                                <i class="entypo-info"></i>
                                Profile
                            </a>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th>id</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Displayname</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Gender</th>
                        <th>Adress</th>
                        <th>Phone</th>
                        <th>Notes</th>
                        <th class="actions">Action</th>
                    </tr>
                </tfoot>
            </table>
        </div>

        <!-- Imported scripts on this page -->
        <script src="assets/js/datatables/datatables.js"></script>
        <script src="assets/js/select2/select2.min.js"></script>

        <!-- Imported styles on this page -->
        <link rel="stylesheet" href="assets/js/datatables/datatables.css">
        <link rel="stylesheet" href="assets/js/select2/select2-bootstrap.css">
        <link rel="stylesheet" href="assets/js/select2/select2.css">
    </section>
</body>
</html>