# Basic auth
security.user.password =

#Default Property file, which is committed in Git
spring.mail.host=
spring.mail.port=

# THYMELEAF (ThymeleafAutoConfiguration)
spring.thymeleaf.check-template-location=true
spring.thymeleaf.prefix=classpath:/templates/
spring.thymeleaf.view-names= MailTemplate, loginForm
spring.thymeleaf.suffix=.html
spring.thymeleaf.mode=HTML5
spring.thymeleaf.encoding=UTF-8
spring.thymeleaf.content-type=text/html

##DATABASE PROPERTIES
spring.datasource.driverClassName=org.postgresql.Driver
spring.datasource.url=jdbc:postgresql://localhost:5432/<MyDB>
spring.datasource.username=<dbUser>
spring.datasource.password=<dbUserPassword>
spring.data.jpa.repositories.enabled=true
spring.jpa.show-sql=true
spring.jpa.database-platform=org.hibernate.dialect.PostgreSQLDialect
spring.jpa.database=postgresql
spring.jpa.generate-ddl=true
spring.jpa.hibernate.ddl-auto=create-drop
spring.jpa.properties.hibernate.default_schema=public
server.port =


##AREA FIFTYLAN SETTINGS

a5l.molliekey=
a5l.paymentReturnUrl=https://areafiftylan.nl/ordersuccess
a5l.mail.confirmUrl=https://areafiftylan.nl/confirmRegistration
a5l.mail.sender=LANcie <lancie@ch.tudelft.nl>